/* Globals */

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 !important;
  background-color: #24252a;
  color: white;
}

.none {
  display: none;
}

/* Estilos para el input de numeros */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/* Estilo para botones solos */

.boton-solo {
  padding: 0.4rem;
  border: none;
  border-radius: 5%;
}
