* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 !important;
  background-color: #24252a;
  color: white;
}

.navBar {
  align-self: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navPrincipal > a:nth-child(1) {
  display: flex;
}

.navPrincipal > a:nth-child(4) {
  display: flex;
}

.tituloPrincipal > h1 {
  background: linear-gradient(to right, white, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flask {
  width: 50px;
  align-self: center;
  height: 50px;
}

.items {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.items > .navBar > li > a > button {
  padding: 0.4rem;
  border: none;
  color: white;
  background-image: linear-gradient(135deg, orange 50%, #24252a 50%);
  background-size: 250%;
  background-position: 100% 100%;
  transition: background 0.4s;
}
.items > .navBar > li > a > button:hover {
  background-position: 0% 0%;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 10px;
}

.cartWidget {
  width: 40px;
  height: 40px;
  align-self: center;
  padding: 0.4rem;
  background-image: linear-gradient(135deg, orange 50%, #24252a 50%);
  background-size: 300%;
  background-position: 100%;
  transition: background 0.4s;
}

.cartWidget:hover {
  background-position: 0% 0%;
}

.navPrincipal {
  display: flex;
}

.mainBody {
  text-align: center;
}

.juegos {
  display: flex;
  flex-flow: wrap;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.buttons > span {
  align-self: center;
}

.buttons > button {
  margin: 0;
  align-self: center;
  border: none;
  color: white;
  padding: 0.25rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons > button:first-child {
  background-color: hsla(0, 100%, 50%, 1) !important;
}
.buttons > button:first-child:disabled {
  background-color: hsla(0, 100%, 50%, 0.5) !important;
}

.buttons > button:last-child {
  background-color: hsla(85, 67%, 39%, 1);
}
.buttons > button:last-child:disabled {
  background-color: hsla(85, 67%, 39%, 0.5) !important;
}

.itemCount > .buttons > p {
  align-self: center;
  margin: 0;
}

.itemCount > h3 {
  display: flex;
  justify-content: center;
}

.itemList {
  display: flex;
  flex-flow: wrap;
}

.itemsJuegos {
  min-width: 25%;
  border: 1px solid black;
  display: grid;
}

.itemsJuegos h1 {
  text-align: center;
  font-size: 2rem;
}

.itemsJuegos > h3 {
  text-align: center;
}

.itemsJuegos > img {
  margin: 0 auto;
}

.itemsJuegos > h4 {
  text-align: center;
}

.itemsJuegos > button {
  width: 25%;
  border: none;
  padding: 0.25rem;
  justify-self: center;
  background-image: linear-gradient(135deg, orange 50%, #24252a 50%);
  background-size: 250%;
  background-position: 100% 100%;
  transition: background 0.4s;
}

.itemsJuegos > button:hover {
  background-position: 0% 0%;
}

.itemsJuegos > button > a {
  text-decoration: none;
  width: 100%;
  display: block;
  color: white;
}

.itemDetails {
  width: 100%;
  display: flex;
}

.detailList {
  width: 25%;
}

.detailList > h4,
.detailList > h4 > p {
  text-align: center;
}

.detailList p {
  margin: 0 auto;
}

.resetComprar {
  display: flex;
}

.reset {
  margin-right: auto;
  border: none;
  padding: 0.75rem;
  background-color: slateblue;
  color: white;
}

.cartSpan {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  color: white;
  background: red;
  right: 0;
  top: 0;
  display: block;
  width: 16px;
  height: 20px;
  line-height: 16px;
  text-align: center;
}
.cartWidget {
  z-index: 1;
  position: relative;
  left: -8px;
}

.none {
  display: none;
}

.detail {
  display: flex;
  gap: 1rem;
}

.details {
  width: 50%;
}

.detailPhoto {
  width: 50%;
}

.total-price > button {
  background-color: #0088a9;
  padding: 1.5rem;
  margin: auto auto;
}

.modal-content {
  background-color: #24252a;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.modal-body > input {
  padding: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home > h1 {
  font-size: 4rem;
}

.home > h1  {
  background: linear-gradient(to right, white, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
